<li [ngClass]="{'list-group-item': true,
                'list-group-item-success': postLoveIts > 0,
                'list-group-item-danger': postLoveIts < 0}">
  <h2>titre : {{ postTitle }} </h2>
  <div>
    <p>{{ postCreated | date }}</p>
  </div>
  <p> {{ postContent }} </p>
  <button class="btn btn-success" (click)="onLove()" [ngStyle]="{color: 'white'}">Love It !</button>
  <button class="btn btn-success" (click)="onDontLove()" [ngStyle]="{'color': 'white','border': 'red','background-color': 'red'}">Don't Love It !</button>
</li>
